{{- range .}}
    {{- $provider := .Provider -}}
    {{- $match := . -}}
    {{- with .Item}}
TITLE:      {{.Title}}
SOURCE:     {{$provider.Name}}
LINK:       {{.Link}}
PATTERN:    {{$provider.Pattern}}
FINDING:    "{{$match.RawMatch}}"
    {{- end}}
---
{{end}}
